<%- include('../_partials/navbar', { currentNav: '' }) %>

<main>
  <section>
    <div class="post-title"><%= title %></div>
    <div class="post-info">
      <% if (category?.title) { %>
        <span class="post-info-item">
          <span>分类：</span>
          <span><%= category?.title %></span>
        </span>
      <% } %>
      <% if (tags.length > 0) { %>
        <span class="post-info-item">
          <span>标签：</span>
          <% tags.map(tag => tag.name).forEach(tagName => { %>
            <span><%= tagName %></span>
          <% }) %>
        </span>
      <% } %>
      <span class="post-info-item">
        <span>创建于：</span>
        <span><%= createdAt.substr(0, 10) %></span>
      </span>
    </div>
    <div><%- content %></div>
  </section>
  
  <section class="post-comment">
    <div class="comment-title">评论</div>
    <% if (comments.length > 0) { %>
      <% comments.forEach(comment => { %>
      <div class="comment-item">
        <div class="row row-center row-lock-direction">
          <img
            class="avatar"
            src="<%= comment.avatar %>"
            alt="user avatar"
          />
          <span class="column"><%= comment.username %></span>
        </div>
        <p><%- comment.content %></p>
      </div>
      <% }) %>
    <% } else { %>
      <div class="comment-none text-center">
        没有评论。。。
      </div>
    <% } %>
     
  </section>
</main>

<%- include('../_partials/footer') %>
