<%- include('../_partials/navbar', { currentNav: '' }) %>

<main>
  <section>
    <div class="post-title"><%= title %></div>
    <div class="post-info">
      <% if (category?.title) { %>
        <span class="post-info-item">
          <span>分类：</span>
          <span><%= category?.title %></span>
        </span>
      <% } %>
      <% if (tags.length > 0) { %>
        <span class="post-info-item">
          <span>标签：</span>
          <% tags.map(tag => tag.name).forEach(tagName => { %>
            <span><%= tagName %></span>
          <% }) %>
        </span>
      <% } %>
      <span class="post-info-item">
        <span>创建于：</span>
        <span><%= createdAt.substr(0, 10) %></span>
      </span>
    </div>
    <div><%- content %></div>
  </section>
  
  <section>
    <% if (comments.length > 0) { %>
      <div>
        <% comments.forEach(comment => { %>
        <div>
          <img
            src="<%= comment.avatar %>"
            alt="user avatar"
            style="width: 20px; height: 20px"
          />
          <span><%= comment.username %></span>
          <p><%- comment.content %></p>
        </div>
        <% }) %>
      </div>
    <% } else { %>
      <div>
        没有评论。。。
      </div>
    <% } %>
     
  </section>
</main>