<div class="row row-center row-lock-direction">
  <div class="column text-right">
    <% if (currentPage !== 1) { %>
      <% if (currentPage === 2) { %>
        <a class="button button-clear button-large" href="<%= urlPath %>">上一页</a>
      <% } else { %>
        <a class="button button-clear button-large" href="<%= urlPath %>page/<%= currentPage - 1 %>">上一页</a>
      <% } %>
    <% } %>
  </div>

  <div class="column text-center">
    <%= currentPage %>
    /
    <%= pageCount %>
  </div>
  
  <div class="column">
    <% if (currentPage !== pageCount) { %>
      <a class="button button-clear button-large" href="<%= urlPath %>page/<%= currentPage + 1 %>">下一页</a>
    <% } %>
  </div>
</div>