<%- include('../_partials/navbar', { siteTitle, currentNav: '' }) %>

<main>
  <section>
    <% for( let i = 0; i < posts.length; i++ ) { %>
      <a class="post-item" href="/posts/<%= posts[i].id %>">
        <div class="clearfix">
          <span class="float-left">
            <%= posts[i].title %>
          </span>
          <span class="float-right">
            <%= posts[i].created_at.substr(0, 10) %>
          </span>
        </div>
      </a>
    <% } %>
  </section>

  <section>
    <%- include('../_widgets/pagination', { ...pagination }) %>
  </section>
</main>
